<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BookStore</display-name>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>cn.jinty.bookstore.user.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Category</servlet-name>
    <servlet-class>cn.jinty.bookstore.category.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Book</servlet-name>
    <servlet-class>cn.jinty.bookstore.book.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>cn.jinty.bookstore.cart.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Order</servlet-name>
    <servlet-class>cn.jinty.bookstore.order.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminCategory</servlet-name>
    <servlet-class>cn.jinty.bookstore.category.admin.servlet.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminCategory</servlet-name>
    <url-pattern>/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>cn.jinty.bookstore.user.admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminBookServlet</servlet-name>
    <servlet-class>cn.jinty.bookstore.book.admin.servlet.AdminBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminBookServlet</servlet-name>
    <url-pattern>/AdminBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminAddServlet</servlet-name>
    <servlet-class>cn.jinty.bookstore.book.admin.servlet.AdminAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminAddServlet</servlet-name>
    <url-pattern>/AdminAddServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>/AdminFilter</filter-name>
    <filter-class>cn.jinty.bookstore.user.admin.servlet.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>/AdminFilter</filter-name>
    <url-pattern>/AdminJSPS/Admin/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>AdminOrder</servlet-name>
  	<servlet-class>cn.jinty.bookstore.order.admin.servlet.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminOrder</servlet-name>
  	<url-pattern>/AdminOrderServlet</url-pattern>
  </servlet-mapping>
</web-app>